<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT newsArea ANY>
<!ATTLIST newsArea id ID #REQUIRED>
<!ELEMENT newsItem ANY>
<!ATTLIST newsItem id ID #REQUIRED>
<!ELEMENT sEO ANY>
<!ATTLIST sEO id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>

]>
<root id="-1">
  <homePage id="1079" key="cf071c1c-89b3-4ea3-9bcf-17dc2dc7f8fe" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2016-05-04T19:07:12" updateDate="2016-05-04T19:13:01" nodeName="Welcome" urlName="welcome" path="-1,1079" isDoc="" nodeType="1063" creatorName="Elian Cruz" writerName="Elian Cruz" writerID="0" template="1054" nodeTypeAlias="homePage">
    <frontpageArticle><![CDATA[{
  "name": "Full Width Article",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": [
        {
          "name": "Two column article",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "headline",
                "myGridEditor"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "This is a headline",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 6,
              "allowAll": false,
              "allowed": [
                "rte",
                "media",
                "quote",
                "myParagraph",
                "squareImage"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>Phasellus viverra nulla ut metus varius laoreet. In dui magna, posuere eget, vestibulum et, tempor auctor, justo. Nulla neque dolor, sagittis eget, iaculis quis, molestie non, velit. In consectetuer turpis ut velit. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus.</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                },
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1078,
                    "image": "/media/1001/untitled.png"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                },
                {
                  "value": "Hola Mundo klk",
                  "editor": {
                    "alias": "myGridEditor"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 6,
              "allowAll": false,
              "allowed": [
                "rte",
                "media",
                "quote",
                "myCodeblock",
                "squareImage"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p><a data-id=\"1065\" href=\"/{localLink:1065}\" title=\"News\">Donec quam felis</a>, ultricies nec, pellentesque eu, pretium quis, sem. Cras varius. Nam ipsum risus, rutrum vitae, vestibulum eu, molestie vel, lacus. Praesent egestas neque eu enim. Praesent ac sem eget est egestas volutpat.</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": true
                },
                {
                  "value": "Curabitur ligula sapien, tincidunt non, euismod vitae, posuere imperdiet, leo. Vestibulum ullamcorper mauris at ligula. In auctor lobortis lacus. Praesent nonummy mi in odio.",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                },
                {
                  "value": "<p>Maecenas ullamcorper, dui et placerat feugiat, eros pede varius nisi, condimentum viverra felis nunc et lorem. Nunc egestas, augue at pellentesque laoreet, felis eros vehicula leo, at malesuada velit leo quis pede. Vestibulum volutpat pretium libero. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Etiam iaculis nunc ac metus.</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "styles": {},
          "config": {
            "class": "Highlight Grey"
          },
          "hasConfig": true,
          "id": "95b80b90-5f2b-5dee-699d-9c8d95198a2d"
        },
        {
          "name": "Two column article",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "headline",
                "myGridEditor"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "This is our subheader",
                  "editor": {
                    "alias": "myGridEditor"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 6,
              "allowAll": false,
              "allowed": [
                "rte",
                "media",
                "quote",
                "myParagraph",
                "squareImage"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "My awesome paragraph",
                  "editor": {
                    "alias": "myParagraph"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 6,
              "allowAll": false,
              "allowed": [
                "rte",
                "media",
                "quote",
                "myCodeblock",
                "squareImage"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "My wonderful code",
                  "editor": {
                    "alias": "myCodeblock"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "72b700c6-f699-e271-db05-63ac8a9e7052"
        },
        {
          "name": "Two column article",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "headline",
                "myGridEditor"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "Cropped images",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 6,
              "allowAll": false,
              "allowed": [
                "rte",
                "media",
                "quote",
                "myParagraph",
                "squareImage"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.10909090909090909,
                      "top": 0.5
                    },
                    "id": 1078,
                    "image": "/media/1001/untitled.png"
                  },
                  "editor": {
                    "alias": "squareImage"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 6,
              "allowAll": false,
              "allowed": [
                "rte",
                "media",
                "quote",
                "myCodeblock",
                "squareImage"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.8545454545454545,
                      "top": 0.50806451612903225
                    },
                    "id": 1078,
                    "image": "/media/1001/untitled.png"
                  },
                  "editor": {
                    "alias": "squareImage"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "7a15b114-4d41-eaa6-96a4-755e8adccceb"
        }
      ]
    }
  ]
}]]></frontpageArticle>
    <email><![CDATA[ecruz@fintech.do]]></email>
    <footer><![CDATA[<p><span class="red">Footer Copy</span></p>]]></footer>
    <textPage id="1080" key="31ed8cb8-6354-44a3-92b9-95044a7211d1" parentID="1079" level="2" creatorID="0" sortOrder="0" createDate="2016-05-04T19:07:12" updateDate="2016-05-04T19:13:20" nodeName="About us" urlName="about-us" path="-1,1079,1080" isDoc="" nodeType="1064" creatorName="Elian Cruz" writerName="Elian Cruz" writerID="0" template="1058" nodeTypeAlias="textPage" />
    <textPage id="1081" key="a2b83089-3025-4d67-bce9-208b1f38b300" parentID="1079" level="2" creatorID="0" sortOrder="1" createDate="2016-05-04T19:07:12" updateDate="2016-05-04T19:13:28" nodeName="Contact us" urlName="contact-us" path="-1,1079,1081" isDoc="" nodeType="1064" creatorName="Elian Cruz" writerName="Elian Cruz" writerID="0" template="1058" nodeTypeAlias="textPage" />
    <newsArea id="1082" key="88e29f01-8d8c-402c-97ca-84a39a9badcb" parentID="1079" level="2" creatorID="0" sortOrder="2" createDate="2016-05-04T19:07:13" updateDate="2016-05-04T19:13:36" nodeName="News" urlName="news" path="-1,1079,1082" isDoc="" nodeType="1060" creatorName="Elian Cruz" writerName="Elian Cruz" writerID="0" template="1055" nodeTypeAlias="newsArea">
      <newsItem id="1083" key="de98f06b-45d3-4682-b275-fe03e626af90" parentID="1082" level="3" creatorID="0" sortOrder="0" createDate="2016-05-04T19:07:13" updateDate="2016-05-04T19:13:36" nodeName="Creative" urlName="creative" path="-1,1079,1082,1083" isDoc="" nodeType="1061" creatorName="Elian Cruz" writerName="Elian Cruz" writerID="0" template="1056" nodeTypeAlias="newsItem" />
      <newsItem id="1084" key="915cef69-ed38-4b55-a8b8-e36ea9c11795" parentID="1082" level="3" creatorID="0" sortOrder="1" createDate="2016-05-04T19:07:13" updateDate="2016-05-04T19:13:36" nodeName="Sagacious" urlName="sagacious" path="-1,1079,1082,1084" isDoc="" nodeType="1061" creatorName="Elian Cruz" writerName="Elian Cruz" writerID="0" template="1056" nodeTypeAlias="newsItem" />
      <newsItem id="1085" key="2a46e5bf-17a8-4722-afb5-421255518012" parentID="1082" level="3" creatorID="0" sortOrder="2" createDate="2016-05-04T19:07:13" updateDate="2016-05-04T19:13:36" nodeName="Intuitive" urlName="intuitive" path="-1,1079,1082,1085" isDoc="" nodeType="1061" creatorName="Elian Cruz" writerName="Elian Cruz" writerID="0" template="1056" nodeTypeAlias="newsItem" />
      <newsItem id="1086" key="2e0f4a5e-4d26-4a12-841a-ebafaceb4817" parentID="1082" level="3" creatorID="0" sortOrder="3" createDate="2016-05-04T19:07:13" updateDate="2016-05-04T19:13:36" nodeName="Auspicious" urlName="auspicious" path="-1,1079,1082,1086" isDoc="" nodeType="1061" creatorName="Elian Cruz" writerName="Elian Cruz" writerID="0" template="1056" nodeTypeAlias="newsItem" />
      <newsItem id="1087" key="4869d306-a882-4258-bfdd-72f9abc1a8f2" parentID="1082" level="3" creatorID="0" sortOrder="4" createDate="2016-05-04T19:07:13" updateDate="2016-05-04T19:13:36" nodeName="Excellent" urlName="excellent" path="-1,1079,1082,1087" isDoc="" nodeType="1061" creatorName="Elian Cruz" writerName="Elian Cruz" writerID="0" template="1056" nodeTypeAlias="newsItem" />
      <newsItem id="1088" key="a9d01a43-5c70-4492-be7a-15e589abf89a" parentID="1082" level="3" creatorID="0" sortOrder="5" createDate="2016-05-04T19:07:13" updateDate="2016-05-04T19:13:36" nodeName="Adventurous" urlName="adventurous" path="-1,1079,1082,1088" isDoc="" nodeType="1061" creatorName="Elian Cruz" writerName="Elian Cruz" writerID="0" template="1056" nodeTypeAlias="newsItem" />
    </newsArea>
  </homePage>
</root>