@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "SiteLayout.cshtml";
}

@section Head {
	<script type="text/javascript">
		alert("Umbraco Rocks");
	</script>
}

<h1>@Umbraco.Field("pageName")</h1>
@Umbraco.Field("bodyText")
@CurrentPage.GetGridHtml("frontpageArticle")